<!--mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" >
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
            <input matInput placeholder="Username" ngModel name="username" #usernameInput="ngModel" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field>
          <input matInput placeholder="Password" ngModel type="password" name="password" #passwordInput="ngModel" required>
        </mat-form-field></td>
       </tr>
       <tr>
       <td>
          <button mat-raised-button [mat-dialog-close] color="accent" type="submit">Sign In</button>
       </td>
       </tr>
    </table>
    </form>
  </mat-card-content-->
  <!--mat-card-actions>
    <button mat-raised-button (click)="onLogin(loginform)" color="accent">Login</button>
  </mat-card-actions>
</mat-card-->
<section class="grocery-section">
  <div class="grocery-centered-content">
    <div class="grocery-content">
      <div class="grocery-illustration">
        <img class="grocery-image" src="../../../assets/shopping.png">
      </div>
      <div class="grocery-signin" *ngIf="this.signin">
        <div class="grocery-title">welcome to grocery sos</div>
        <div class="grocery-subtitle">Shop here while you are in home safely.</div>
        <div class="grocery-input-group">
          <div class="grocery-input-holder">
            <div class="shade"></div>
            <input class="input has-content" type="text" placeholder="email">
            <label for="email">Email</label>
          </div>
          <div class="grocery-input-holder">
            <div class="shade"></div>
            <input class="input" type="text" placeholder="Password">
            <label for="password">Password</label>
            <span>Forget?</span>
          </div>
          <div class="grocery-input-holder">
            <button class="button">Login<i class="fas fa-sign-in-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="grocery-signup" *ngIf="this.signup">
        <div class="grocery-title">Register for An Account</div>
        <div class="grocery-subtitle">Shop here while you are in home safely.</div>
        <div class="grocery-input-group is-signup">
          <div class="grocery-input-holder double">
            <div class="grocery-input-double">
              <input class="input has-content" type="text" placeholder="Firstname">
              <label for="firstname">FirstName</label>
            </div>
            <div class="grocery-input-double">
              <input class="input .has-content" type="text" placeholder="Lastname">
              <label class="is-right" for="lastname">Lastname</label>
            </div>
          </div>
          <div class="grocery-input-holder">
            <input class="input" type="text" placeholder="mobile">
            <label for="mobile">Mobile</label>
          </div>
          <div class="grocery-input-holder">
            <input class="input" type="text" placeholder="E-Mail">
            <label for="email">E-Mail</label>
          </div>
          <div class="grocery-input-holder double">
            <div class="grocery-input-double">
              <input class="input" type="text" placeholder="Password">
              <label for="password">Password</label>
            </div>
            <div class="grocery-input-double">
              <input class="input" type="text" placeholder="Confirm Password">
              <label class="is-right" for="confirm">Confirm Password</label>
            </div>
          </div>
          <div class="grocery-input-holder">
            <button class="button">Register<i class="fas fa-sign-in-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="grocery-end">
      <p *ngIf="this.signin">Don't you have an account? <a (click)="this.signUp()">Sign up</a> now.</p>
      <p *ngIf="this.signup">Already have an account? <a (click)="this.signIn()">Sign in</a> now.</p>
    </div>
  </div>
</section>